:root{
  --background-aside:linear-gradient(329.54deg, #c94b4b 0%, #4b134f 100%);
  --button-create:linear-gradient(329.54deg, #c94b4b 0%, #4b134f 100%);
  --hover:linear-gradient(to bottom, #4b134f 30%,#c94b4b 70%);
  --background-popup:rgba(255, 255, 255, 0.8);
  --font-color:#00C7C7;
  --button-popup:linear-gradient(329.54deg, #c94b4b 0%, #4b134f 100%);
}



#page-map{
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}
#page-map aside {
  width: 440px;
  background: var(--background-aside);
  padding: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 #page-map aside  h2{
  font-size: 48px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;
}

 #page-map aside  p{
  line-height: 28px;
  margin-top: 24px;
}

 #page-map aside footer{
  display: flex;
  flex-direction: column;
  line-height: 24px;
}


#page-map .leaflet-container{
  z-index: 5;
}

#page-map .create-ophanage{
  position: absolute;
  right: 40px;
  bottom: 40px;

  z-index: 10;

  width: 64px;
  height: 64px;
  background:var(--button-create);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color;
}
#page-map .create-ophanage:hover{
  background:var(--hover);
}
#page-map .map-popup .leaflet-popup-content-wrapper{
  background: var(--background-popup);
  border-radius: 20px;
  box-shadow: none;
}
#page-map .map-popup .leaflet-popup-content{
font-size: 20px;
font-weight: bold;
margin: 8px 12px;
color: var(--font-color);

display: flex;
justify-content: space-between;
align-items: center;
}
#page-map .map-popup .leaflet-popup-content a{
  width: 40px;
  height: 40px;
  background: var(--button-popup);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#page-map .map-popup .leaflet-popup-tip-container{
  display: none;
}